In [2]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\admin\Downloads\Sf_Salaries.csv")

C:\Users\admin\AppData\Local\Temp\ipykernel_7472\1946371448.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\admin\Downloads\Sf_Salaries.csv")

In [6]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [18]:
df['BasePay']=pd.to_numeric(df['BasePay'],errors='coerce')

In [22]:
average=df['BasePay'].mean()
average

66325.4488404877

In [24]:
df['OvertimePay']=pd.to_numeric(df['OvertimePay'],errors='coerce')

In [31]:
highest_value=df['OvertimePay'].max()
highest_value

245131.88

In [33]:
unique_values=df['JobTitle'].unique()
print(unique_values)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

In [36]:
person_name='JOSEPH DRISCOLL'

In [50]:
fil_data=df[df['EmployeeName']=='JOSEPH DRISCOLL']

In [53]:
job_title=fil_data['JobTitle'].values[0]

In [54]:
print(f"The job title of{'JOSEPH DRISCOLL'} is {job_title}.")

The job title ofJOSEPH DRISCOLL is CAPTAIN, FIRE SUPPRESSION.

In [56]:
fil_data=df[df['EmployeeName']=='JOSEPH DRISCOLL']

In [58]:
fil_data['TotalPayBenefits'].values[0]

270324.91

In [61]:
print(f"The TotalPayBenefits {'JOSEPH DRISCOLL'} are {'TotalPayBenefits'}.",fil_data)

The TotalPayBenefits JOSEPH DRISCOLL are TotalPayBenefits.     Id     EmployeeName                   JobTitle    BasePay  OvertimePay  \
24  25  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION  140546.86     97868.77

    OtherPay Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
24  31909.28      NaN  270324.91         270324.91  2011    NaN

           Agency Status
24  San Francisco    NaN

In [63]:
High_total_pay=df['TotalPayBenefits'].max()

In [65]:
print(f" The highest TotalPayBenefits is {High_total_pay}." )

 The highest TotalPayBenefits is 567595.43.

In [74]:
low_total_pay=df['TotalPayBenefits'].min()

In [75]:
print(f" The lowest TotalPayBenefits is {low_total_pay}." )

 The lowest TotalPayBenefits is -618.13.

In [76]:
fil_data=df[(df['Year']>=2011)&(df['Year']<=2014)]

In [77]:
avg_basepay_per_year=fil_data.groupby('Year')['BasePay'].mean()

In [78]:
print(avg_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64